body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.mb-1 {
    margin-bottom: .25rem;
}
.nav > li > a:hover, .nav > li > a:focus {
    background:none;
    border-top: 1px solid #eee;
}
.navbar-primary {
    background-color: #337ab7;
    border-color: #337ab7;
}
.navbar a{
    color: #fff;
}


ul.pagination {
    margin: 0px;
}
